.DS_Store
.ipynb_checkpoints
.idea
__pycache__
venv
arxiv-metadata-oai-snapshot.json

ETL/airflow/data2db/*
ETL/airflow/data/data2db/*.tsv
ETL/airflow/data/data2db/*.csv
!ETL/airflow/data/data2db/arxiv_categories.csv.csv
!ETL/airflow/data/data2db/venues_df.tsv
ETL/airflow/data/final_data/*.csv
ETL/airflow/data/final_data/*.tsv
ETL/airflow/data/inputs/*.json
ETL/airflow/data/metadata/*.tsv
ETL/airflow/data/sql/*.sql
ETL/airflow/data/wh-data/*.csv
ETL/airflow/logs

ETL/neo4j/*
!ETL/neo4j/plugins